.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.required
{
    color: red;
}

.login_card{
    max-width: 300px;
    text-align: center;
    margin: auto;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn_small{
    width: 100px;
}

.nav-wrapper{
    background-color: #3fa13e;
}

.page-footer{
    background-color: #3fa13e;
}

.sort-button{
    text-align: center;
}

.brand-logo{
 padding-left: 10px;   
}
}

