{% extends 'base.html' %} {% block content %}
<h3>Edit Place Name</h3>
<div class="row">
    <form action="{{ url_for('update_place_name', place_name_id=place_name._id) }}" method="POST" class="col s12">
        <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="location" name="location">
                  <option value="" disabled selected>Choose Location</option>
                  
                  {% for location in locations %}
                      {% if location.location_name == place_name.location%}
                      <option value="{{location.location_name}}" selected >{{location.location_name}}</option>
                      {% else %}
                       <option value="{{location.location_name}}">{{location.location_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                    <label>Place name location</label>
                </div>
            </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="eng_name" name="eng_name" type="text" value="{{place_name.eng_name}}">
                <input type="hidden" id="original_eng_name" name="original_eng_name" value="{{place_name.eng_name}}">
                <label for="icon_prefix">English Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="irl_name" name="irl_name" type="text" value="{{place_name.irl_name}}">
                <label for="icon_prefix">Irish Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea id="irl_meaning" name="irl_meaning" class="materialize-textarea">{{place_name.irl_meaning}}</textarea>
                <label for="icon_telephone">Irish name meaning</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="history" id="history" class="materialize-textarea" >{{place_name.history}}</textarea>
                <label for="icon_telephone">History of area</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 save-button-container">
                <button class="btn waves-effect waves-light save-button" type="submit" name="action">Save
                    <i class="material-icons right">playlist_add</i>
                 </button>
             </div>
             <div class="col s12 m8">
                <a href="{{ url_for('get_place_names') }}" class="waves-effect waves-light btn grey cancel-button">
                    <i class="material-icons right">cancel</i>Cancel
                </a>
            </div>
        </div>
    </form>
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
            <strong class="errors">{{ message }}</strong>
            {% endfor %}
            {% endif %} 
     {% endwith %}
</div>
{% endblock %}