{% extends 'base.html' %}
{% block content %}

{% if session['username'] %}
    <a href="{{url_for('add_place_name')}}" class="waves-effect waves-light btn btn_large"><i class="fas fa-plus"></i> Add Place Name </a>
{% endif %}

<div class="card">
<div class="card-content">
    <div class="row">
        <strong>Sort By</strong>
        <form action="{{ url_for('sort_place_names')}}" method="POST" >
            <div class="col m9 s12">
                <select name="sort_by" id="sort_by" >
                <option value="location">Location</option>
                <option value="likes">likes</option>
                <option value="created_by">Created by</option>
                <option value="eng_name">Name</option>
              </select>
            </div>
            <div class="col m3 s12 sort-button">
                <button class="btn waves-effect waves-light" type="submit" name="action" >Sort
                <i class="material-icons right">playlist_add</i>
                 </button>
            </div>
     </form>
     </div>
</div>
</div>
<p class="col s4"> <strong>Showing '{{ place_names.count() }}' place names</strong></p>
<ul class="collapsible" data-collapsible="accordion">
    {% for place_name in place_names %}
        <li>
            {% if place_name.eng_name == active_place_name %}
                <div id="active" class="collapsible-header active">
            {% elif active_place_name == "Initial" %}
                <div class="collapsible-header active">
            {% else %}
                <div class="collapsible-header">
            {% endif %}
               <div class="place_name_header col s2">
                    
                    {% if session['admin'] %}
                    <a href="{{url_for('edit_place_name', place_name_id=place_name._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    <a href="{{url_for('delete_place_name', place_name_id=place_name._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    {% elif session['username'] == place_name.created_by %}
                    <a href="{{url_for('edit_place_name', place_name_id=place_name._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    <a href="{{url_for('delete_place_name', place_name_id=place_name._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    {% endif %}
                    
                </div>
                <div class="place_name_header col s10" style=" padding-left: 24px;">
                    
                    <strong>{{place_name.eng_name}}</strong> : {{place_name.irl_name}} - <strong> Location </strong> : {{place_name.location}} - <strong>Likes</strong> : {{place_name.likes}}  - <strong class="user-label">By</strong> : {{place_name.created_by}}
                    <i class="material-icons">expand_more</i>
                </div>
            
               
            </div>
            <div class="collapsible-body">
                <div style="text-align: right;">
                    <strong>Like - </strong><a href="{{url_for('add_like', place_name_id=place_name._id)}}"><i class="fas fa-thumbs-up"></i></a>
                    
                    <strong>Dislike - </strong><a href="{{url_for('add_dislike', place_name_id=place_name._id)}}"><i class="fas fa-thumbs-down"></i></a>
                </div>
                <div>
                    <h5>Irish Name</h5>
                    <p>{{place_name.irl_name}}</p>
                </div>
                <div>
                    <h5>Irish Name Meaning</h5>
                    <p>{{place_name.irl_meaning}}</p>
                </div>
                <div>
                    <h5>History of Area</h5>
                    <p>{{place_name.history}}</p>
                     
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}