{% extends 'base.html' %}
{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    {% for place_name in place_names %}
        <li>
            <div class="collapsible-header">
              
                <div class="task_header col s9 ">
                    
                    <strong>{{place_name.eng_name}}</strong> - {{place_name.irl_name}}
                    
                </div>
            
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('edit_place_name', place_name_id=place_name._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
            </div>
            <div class="collapsible-body">
                <div>
                    <h5>Irish Name</h5>
                    <p>{{place_name.irl_name}}</p>
                </div>
                <div>
                    <h5>Irish Name Meaning</h5>
                    <p>{{place_name.irl_meaning}}</p>
                </div>
                <div>
                    <h5>History of Area</h5>
                    <p>{{place_name.history}}</p>
                     
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}