{% extends 'base.html' %}
{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    {% for place_name in place_names %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i><strong>{{place_name.eng_name}}</strong> - {{place_name.irl_name}}
            </div>
            <div class="collapsible-body">
                <div>
                    <h5>Irish Name</h5>
                    <p>{{place_name.irl_name}}</p>
                </div>
                <div>
                    <h5>Irish Name Meaning</h5>
                    <p>{{place_name.irl_meaning}}</p>
                </div>
                <div>
                    <h5>History of Area</h5>
                    <p>{{place_name.history}}</p>
                     
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}